[Desktop Entry]
Name = Screen-22
GenericName = Touchscreen 22/254
Comment = Dim 22 / 255
Keywords = Touchscreen;Dim;Brightness;
TryExec = su-to-root
Exec = su-to-root -X -c 'echo "22" > /sys/class/backlight/rpi_backlight/brightness'
StartupNotify = false
Terminal = false
Type = Application
Icon = /usr/share/icons/Lightbulbs/bulb30-256x256.png
Categories = Settings;
NoDisplay = false